@page
@model MALanguageHub.Pages.Admin.AddAboutUsModel
@{
}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1>
                    Add About Us 
                </h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <label class="form-label">Title</label>
                <input class="form-control" asp-for="Aboutus.Title" required placeholder="Enter Your Title">
                <span asp-validation-for="Aboutus.Title" class="text-danger"></span>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">

                <label class="form-label">Description</label>
                <textarea class="form-control" asp-for="Aboutus.Description" required rows="5" placeholder="Enter Your Description"></textarea>
                <span asp-validation-for="Aboutus.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-6">

                <label class="form-label">Image</label>
                <input class="form-control" required asp-for="Aboutus.Image">
                <span asp-validation-for="Aboutus.Image" class="text-danger"></span>
            </div>
        </div>

        <div class="row  justify-content-center mt-3">
            <div class="col-md-6">
                <input type="submit" value="Add About" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>