@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>MA_Language_Hub</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="icon" type="image/x-icon"
          href="https://th.bing.com/th/id/OIP.n1IP9KlK_KNQkssPH_44MwAAAA?rs=1&pid=ImgDetMain">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/root_files/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/root_files/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/root_files/css/owl.carousel.css">
    <link rel="stylesheet" href="~/root_files/css/owl.theme.default.min.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/root_files/css/templatemo-style.css">
</head>





<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>


    <!-- MENU -->
    <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <img class="navbar-brand"
                     src="https://th.bing.com/th/id/OIP.n1IP9KlK_KNQkssPH_44MwAAAA?rs=1&pid=ImgDetMain" alt="">
            </div>

            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-nav-first">
                    <li><a href="#top" class="smoothScroll">Home</a></li>
                    <li><a href="#about" class="smoothScroll">About</a></li>
                    <li><a href="#team" class="smoothScroll">Our Teachers</a></li>
                    <li><a href="#courses" class="smoothScroll">Courses</a></li>
                    <li><a href="#testimonial" class="smoothScroll">Reviews</a></li>
                    <li><a href="#contact" class="smoothScroll">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-phone"></i> +65 2244 1100</a></li>
                </ul>
            </div>

        </div>
    </section>


    <!-- HOME -->
    <section id="home">
        <div class="row">

            <div class="owl-carousel owl-theme home-slider">
                <div class="item item-first">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Distance Learning Education Center</h1>
                                <h3>
                                    Our online courses are designed to fit in your industry supporting all-round
                                    with latest technologies.
                                </h3>
                                <a href="#feature" class="section-btn btn btn-default smoothScroll">
                                    Discover
                                    more
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-second">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Start your journey with our practical courses</h1>
                                <h3>
                                    Our online courses are built in partnership with technology leaders and are
                                    designed to meet industry demands.
                                </h3>
                                <a href="#courses" class="section-btn btn btn-default smoothScroll">
                                    Take a
                                    course
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-third">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Efficient Learning Methods</h1>
                                <h3>
                                    Nam eget sapien vel nibh euismod vulputate in vel nibh. Quisque eu ex eu
                                    urna venenatis sollicitudin ut at libero. Visit <a href="https://plus.google.com/+templatemo"
                                                                                       target="_parent">templatemo</a> page.
                                </h3>
                                <a href="#contact" class="section-btn btn btn-default smoothScroll">
                                    Let's
                                    chat
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- FEATURE -->
    <section id="feature">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                        <span>01</span>
                        <h3>Trending Courses</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore
                            et dolore magna.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                        <span>02</span>
                        <h3>Books & Library</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore
                            et dolore magna.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                        <span>03</span>
                        <h3>Certified Teachers</h3>
                        <p>
                            templatemo delivers a wide variety of HTML5 templates for you at absolutely no charge.
                            Please tell your friends.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- ABOUT -->
    <section id="about">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <h2>Start your journey to a better life with online practical courses</h2>

                        <figure>
                            <span><i class="fa fa-users"></i></span>
                            <figcaption>
                                <h3>Professional Trainers</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa
                                    voluptatibus.
                                </p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-certificate"></i></span>
                            <figcaption>
                                <h3>International Certifications</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa
                                    voluptatibus.
                                </p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-bar-chart-o"></i></span>
                            <figcaption>
                                <h3>Free for 3 months</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa
                                    voluptatibus.
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>

                <div class="col-md-offset-1 m-5 col-md-4 col-sm-12">
                    <div class="circle-container">
                        <img src="https://th.bing.com/th/id/R.d0fa9ba1ff2b373e5ce443f1b21a3f67?rik=s7AkFJMbIYaOfA&riu=http%3a%2f%2fwww.aspectsystems.ie%2fwp-content%2fuploads%2f2017%2f05%2fInstitute18.jpg&ehk=tO8yv%2fT5q%2fwM9BRXX7kWdi7OvnSDe7yUcg9FVKb0gF8%3d&risl=&pid=ImgRaw&r=0"
                             alt="Image">
                    </div>
                </div>

            </div>
        </div>
    </section>



    <!-- TEAM -->
    <section id="team">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Teachers <small>Meet Professional Trainers</small></h2>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="~/root_files/images/author-image1.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Mark Wilson</h3>
                            <span>I love Teaching</span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="~/root_files/images/author-image2.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Catherine</h3>
                            <span>Education is the key!</span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-google"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="~/root_files/images/author-image3.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Jessie Ca</h3>
                            <span>I like Online Courses</span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-envelope-o"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="~/root_files/images/author-image4.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Andrew Berti</h3>
                            <span>Learning is fun</span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google"></a></li>
                            <li><a href="#" class="fa fa-behance"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- Courses -->
    <section id="courses">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Popular Courses <small>Upgrade your skills with newest courses</small></h2>
                    </div>

                    <div class="owl-carousel owl-theme owl-courses">
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="~/root_files/images/courses-image1.jpg" class="img-responsive"
                                                 alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 12 / 7 / 2018</span>
                                            <span><i class="fa fa-clock-o"></i> 7 Hours</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3>Social Media Management</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/root_files/images/author-image1.jpg" class="img-responsive"
                                                 alt="">
                                            <span>Mark Wilson</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 25</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="~/root_files/images/courses-image1.jpg" class="img-responsive"
                                                 alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 12 / 7 / 2018</span>
                                            <span><i class="fa fa-clock-o"></i> 7 Hours</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3>Social Media Management</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/root_files/images/author-image2.jpg" class="img-responsive"
                                                 alt="">
                                            <span>Mark Wilson</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 25</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="~/root_files/images/courses-image1.jpg" class="img-responsive"
                                                 alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 12 / 7 / 2018</span>
                                            <span><i class="fa fa-clock-o"></i> 7 Hours</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3>Social Media Management</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/root_files/images/author-image1.jpg" class="img-responsive"
                                                 alt="">
                                            <span>Mark Wilson</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 25</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="~/root_files/images/courses-image1.jpg" class="img-responsive"
                                                 alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 12 / 7 / 2018</span>
                                            <span><i class="fa fa-clock-o"></i> 7 Hours</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3>Social Media Management</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/root_files/images/author-image2.jpg" class="img-responsive"
                                                 alt="">
                                            <span>Mark Wilson</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 25</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="~/root_files/images/courses-image1.jpg" class="img-responsive"
                                                 alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 12 / 7 / 2018</span>
                                            <span><i class="fa fa-clock-o"></i> 7 Hours</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3>Social Media Management</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/root_files/images/author-image3.jpg" class="img-responsive"
                                                 alt="">
                                            <span>Mark Wilson</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 25</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
    </section>


    <!-- TESTIMONIAL -->
    <section id="testimonial">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Student Reviews <small>from around the world</small></h2>
                    </div>

                    <div class="owl-carousel owl-theme owl-client">
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="tst-image">
                                    <img src="~/root_files/images/tst-image1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="tst-author">
                                    <h4>Jackson</h4>
                                    <span>Shopify Developer</span>
                                </div>
                                <p>
                                    You really do help young creative minds to get quality education and
                                    professional job search assistance. I’d recommend it to everyone!
                                </p>
                                <div class="tst-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="tst-image">
                                    <img src="~/root_files/images/tst-image2.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="tst-author">
                                    <h4>Camila</h4>
                                    <span>Marketing Manager</span>
                                </div>
                                <p>
                                    Trying something new is exciting! Thanks for the amazing law course and the
                                    great teacher who was able to make it interesting.
                                </p>
                                <div class="tst-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="tst-image">
                                    <img src="~/root_files/images/tst-image3.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="tst-author">
                                    <h4>Barbie</h4>
                                    <span>Art Director</span>
                                </div>
                                <p>
                                    Donec erat libero, blandit vitae arcu eu, lacinia placerat justo. Sed
                                    sollicitudin quis felis vitae hendrerit.
                                </p>
                                <div class="tst-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="tst-image">
                                    <img src="~/root_files/images/tst-image4.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="tst-author">
                                    <h4>Andrio</h4>
                                    <span>Web Developer</span>
                                </div>
                                <p>
                                    Nam eget mi eu ante faucibus viverra nec sed magna. Vivamus viverra sapien
                                    ex, elementum varius ex sagittis vel.
                                </p>
                                <div class="tst-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
    </section>


    <!-- CONTACT -->
    <section id="contact">
        <div class="container" style="margin-top:-120px;">
            <div class="row">
                <div class="col-md-6 col-sm-12" style="margin-top:80px;">
                    <div class="section-title" >
                        <h2 >Contact us <hr /><small style="margin-top:30px; margin-bottom:-25px;">We love conversations. let us talk!</small></h2>
                        
                    </div>
                    <div class="contact-info bg-light  rounded ">
                        <h3 class="mb-5" ></h3>
                        <p><i class="bi bi-geo-alt-fill text-primary "></i><strong>Address:</strong> University of Kotli, Azad Jammu & Kashmir</p>
                        <p>
                            <i class="bi bi-envelope-fill text-primary "></i><strong>Email:</strong>
                            <a href="mailto:info@universitykotli.com" class="text-decoration-none text-dark">info@universitykotli.com</a>
                        </p>
                        <p>
                            <i class="bi bi-telephone-fill text-primary me-2"></i><strong>Phone:</strong>
                            <a href="tel:+1234567890" class="text-decoration-none text-dark">+123 456 7890</a>
                        </p>
                        <p><i class="bi bi-clock-fill text-primary me-2"></i><strong>Hours:</strong> Mon - Fri: 9:00 AM - 5:00 PM</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12" style="margin-top: 80px;">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2630.063482583867!2d73.898970274522!3d33.48423884751092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14e3c3cb1fc05bed%3A0x92d313a2a8bb2347!2sUniversity%20of%20Kotli%2C%20Azad%20Jammu%20%26%20Kashmir!5e1!3m2!1sen!2s!4v1732106234557!5m2!1sen!2s"
                                class="embed-responsive-item" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Headquarter</h2>
                        </div>
                        <address>
                            <p>1800 dapibus a tortor pretium,<br> Integer nisl dui, ABC 12000</p>
                        </address>

                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>

                        <div class="copyright-text">
                            <p>Copyright &copy; 2018 MalanguageHub</p>
                            <p>
                                Design: <a rel="nofollow" href="http://templatemo.com" title="html5 templates"
                                           target="_parent">Template Mo</a>
                            </p>
                            <p>Distribution: <a href="https://themewagon.com/">ThemeWagon</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Contact Info</h2>
                        </div>
                        <address>
                            <p>+65 2244 1100, +66 1800 1100</p>
                            <p><a href="mailto:youremail.com">hello@malanguagehub.com</a></p>
                        </address>

                        <div class="footer_menu">
                            <h2>Quick Links</h2>
                            <ul>
                                <li><a href="#">Language Courses</a></li>
                                <li><a href="#">Why Learn With Us</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Replacing the Newsletter Signup with something more relevant -->
                <div class="col-md-4 col-sm-12">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Why Choose MalanguageHub?</h2>
                        </div>
                        <p>
                            At MA Language Hub, we offer immersive and engaging language courses designed for all
                            proficiency levels. Whether you're looking to improve your speaking, writing, or
                            listening skills, our expert instructors are here to guide you every step of the way.
                        </p>


                    </div>
                </div>

            </div>
        </div>
    </footer>


    <!-- SCRIPTS -->
    <script src="~/root_files/js/jquery.js"></script>
    <script src="~/root_files/js/bootstrap.min.js"></script>
    <script src="~/root_files/js/owl.carousel.min.js"></script>
    <script src="~/root_files/js/smoothscroll.js"></script>
    <script src="~/root_files/js/custom.js"></script>

</body>

</html>